<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Designed and Developed with <i class="fa fa-heart"></i> By
           <a href="https://mellifluous-starship-4fa8a1.netlify.app/" style="text-decoration: none;"> Amit</a>
            </p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.alert').slideUp(2000);
        }, 2000);
    });
</script>
</body>

</html>